.buttom-icon {
    height: 60px;
    width: 60px;
}

.button-icon-transform{
    transform: translateY(-10px);
}

.active {
    background-color: rgba(0, 0, 0, 0.04);
}

.color-picker{
    padding: 5px;
    border: none;
    cursor: pointer;
}

p{
    border: 2px solid black;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.04);
}