<div class="container mt-4">
  <div class="alert alert-primary" role="alert">
    <h1>Welcome to custom website design</h1>
  </div>

  <!-- Text Style Editor Demo -->
  <div class="border border-primary p-2">
    <div class="shadow-none p-3 mb-1 bg-light rounded text-center">
      <h2>Text Style Editor Demo</h2>
    </div>
    <p [style]="this.textStyleData.textStyle" appTextEditor [textEditorData]="textStyleData"
      (dataEmitter)="assignTextStyleData($event)">{{this.textStyleData.text}}</p>
      <!-- no need to add below button if we use custon attribute directive [appTextEditor] -->
      <button mat-button (click)="openDialog()">Open Text Editor</button>
  </div>

  <!-- Card Grid Builder Demo -->
  <div class="border border-primary p-2 mt-1">
    <div class="shadow-none p-3 mb-1 bg-light rounded text-center">
      <h2>Card Grid Builder Demo</h2>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Select Grid</mat-label>
      <mat-select [(value)]="this.columnSelected" (selectionChange)="modifyGridValue()">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let selectValue of this.cardGridColumnSelect" [value]="selectValue.value">
          {{selectValue.valueView}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p>selected value : {{this.cardGridModel.column}}</p>
  </div>
</div>
<app-card-grid-builder *ngIf="this.cardGridModel" [cardGridModel]="this.cardGridModel" [cardTemplate]="childTemplate">
</app-card-grid-builder>
<ng-template #childTemplate let-text="text">
  <!-- define  text object use let keyword -->
  <app-card-style [data]="text"></app-card-style>
</ng-template>